# ML Mid Term Assignment
# Devika Singh
# MB19GBA245

#Question 2
#Use Na√Øve Bayes Algorithm to predict the class (positive or negative) of the following document represented using binomial document model: Show mathematical working for the same.

#Class 1: positive
#Class 2: negative

# Importing dataset

In [4]:
import pandas as pd
df=pd.read_csv("E:/datasetml.csv")
df

    Token 1  2  3  4  5  6  7  8  class
0         0  1  0  1  0  1  0  1      1
1         1  0  1  1  1  1  0  1      1
2         0  0  0  0  1  1  0  1      1
3         1  1  1  1  0  0  0  1      1
4         1  0  0  1  0  0  1  1      1
5         1  0  1  0  0  1  0  1      1
6         1  1  0  1  0  1  1  0      1
7         1  0  0  1  0  0  0  0      1
8         0  1  0  1  0  1  1  1      0
9         1  0  0  1  0  1  1  0      0
10        0  1  0  0  1  0  1  0      0
11        0  0  0  1  1  0  1  1      0
12        1  0  1  0  1  0  0  0      0
13        0  1  1  1  1  1  0  0      0
14        0  0  0  0  0  1  1  0      0
15        0  1  1  0  1  1  0  0      0

# Reading test data

In [5]:
y=pd.read_csv("E:/test.csv")
y

   Token 1  2  3  4  5  6  7  8
0        1  1  1  1  0  0  0  1

# Using naive bayes for predicting test data

In [7]:
dfi=df.iloc[:,:-1]
dfo=df['class']
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(dfi,dfo)

predicted= model.predict(y) 
print("Predicted Value:", predicted)

Predicted Value: [1]

# Predicted value of test data is 1